<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>alo Shop - Home</title>
  <link rel="stylesheet" href="/css/fontawesome/bootstrap.min.css">
  <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>